<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>About</title>
  <link rel="icon" href="img/weather.png">
  <link rel="stylesheet" href="css/styles.css"/>
</head>
<body>
  <div class="main-content">
    {{>header}}
    <h1>It's all about this</h1>
    <img class="mem-pic" src="img/this.JPG" />
  </div>
    {{>footer}}
</body>
</html>