<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="icon" href="img/weather.png">
  <link rel="stylesheet" href="css/styles.css"/>
  <script src="/js/app.js"></script>
</head>
<body>
  <div class="main-content">
    {{>header}}
    <p>{{title}}</p>
  </div>
    {{>footer}}
</body>
</html>