body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  color: #333333;
  font-family: Arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
}

.main-content {
  flex-grow: 1;
}

.title {
  margin-top: 10px;
  font-size: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  width: 60%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 20px;
  padding: 0
}

header a {
  color: #888888;
  text-decoration: none;
}

header a:hover {
  font-weight: bold;
  color: cyan;
  text-decoration: underline;
}

.mem-pic {
  max-width: 50vw;
}

footer {
  color: #888888;
  border-top: 1px dashed #eeeeee;
  margin-top: 10px;
  padding: 10px 0;
}

input {
  border: 1px solid #cccccc;
  padding: 8px;
}

button {
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  color: white;
  padding: 8px;
}